/* MAIN */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v14/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: rgb(80, 80, 80);
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
#menu {
    position: absolute;
    z-index: 99;
    width: 100%;
    max-width: 406px;
    display: -webkit-box;
    display: -moz-box-flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.ui, .infoBox {
    height: 45px;
    float: left;
    z-index: 99;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 1, .5), inset 0 -2px 0px rgba(0, 0, 1, .15); 
    box-shadow: 0 8px 12px rgba(0, 0, 1, .5), inset 0 -2px 0px rgba(0, 0, 1, .15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    margin: 8px 4px;
    text-align: center;
    cursor: pointer;
}
.ui:first-child {
    margin-left: 8px;
}
.ui:last-child {
    margin-right: 8px;
    text-align: left;
}
.overlay {
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    left: 0; right: 0;
    top: 0; bottom: 0;
    opacity: 0.7;
    z-index: 99;
}
#modal {
    display: none;
    height: 430px;
    width: 260px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    padding: 20px;
    margin: auto;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    cursor: default;
}
.sportsity {
    width: 100px;
    height: 45px;
    background: rgb(0, 171, 56) url('../img/ui/sportsity-logo.png');
    background-size: 100px 45px;
    background-repeat: no-repeat;
}
.icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.location, .vote {
    width: 45px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.vote {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.dropdown {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-tap-highlight-color: transparent;
}
.zoom-buttons {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
#map-canvas {
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}
p {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 400;
    white-space: pre-wrap;
    line-height: 150%;
}
.about {
    font-size: 0.750em;
}
.notice, .contact, .credit {
    font-size: 0.625em;
}
.credit {
    padding: 0;
}
.sub-credit {
    font-size: 0.500em;
}
.get-started {
    border: 2px solid rgb(0, 122, 40);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgb(0, 171, 56);
    padding: 16px;
    width: auto;
    font-weight: 500;
    margin: 5px 5px 22px 5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.get-started:hover {
    background: rgb(4, 185, 65);
    cursor: pointer;
}
a:link {
    color: rgb(77, 144, 254);
    font-weight: 400;
    text-decoration: none;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(255, 255, 255);
    background: rgb(77, 144, 254);
}
:focus {
    border: 0;
    outline: none;
}
.link:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
}

/* CUSTOM SELECT — http://jsfiddle.net/BB3JK/47 */

.s-hidden {
    visibility: hidden;
    padding: 12px;
    -webkit-margin-before: 12px;
}
.select {
    cursor: pointer;
    position: relative;
    color: rgb(80, 80, 80);
    font-weight: 400;
    height: 45px;
}
.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 14px 12px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.styledSelect:after {
    content: "";
    width: 18px;
    height: 18px;
    background: url('../img/ui/arrow-dropdown.png') no-repeat center center;
    background-size: 24px 24px;
    position: absolute;
    right: 12px;
    z-index: 9999;
}
.styledSelect:active, .styledSelect.active {
    background: transparent;
}
.options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    background-color: white;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 1, .5), inset 0 -2px 0px rgba(0, 0, 1, .15); 
    box-shadow: 0 8px 12px rgba(0, 0, 1, .5), inset 0 -2px 0px rgba(0, 0, 1, .15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.options li {
    margin: 0 0;
    padding: 14px 12px;
}
.options li:hover {
    background: rgb(0, 171, 56);
    color: rgb(255, 255, 255);
}
.options li:hover:first-child {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: transparent;
    color: inherit;
}
.options li:hover:last-child {
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
::-moz-selection {
    background-color: rgb(255, 255, 255);
}
::selection {
    background-color: rgb(255, 255, 255);
}

/* INFO BOX */

.infoBox {
    height: 162px;
    width: 250px;
    margin-top: 8px;
}
.infoBox:after {
    content: "";
    position: absolute;
    left: 105px;
    outline: 1px solid transparent;
    backface-visibility: hidden;
    top: 150px;
    border-style: solid;
    border-width: 32px 16px 0;
    border-color: rgb(255, 255, 255) transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.location-mask {
    height: 132px;
    width: 250px;
    overflow: hidden;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.shadow {
    background: -moz-linear-gradient(120deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 110%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(120deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 110%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(120deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 110%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0) 110%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    z-index: 9999;
}
.shadow > img {
    display: block;
    z-index: -1;
    position: relative;
}
@-webkit-keyframes satellitize {
    0% { transform: rotate(340deg); -webkit-transform: rotate(340deg); }
    100% { transform: rotate(-340deg); -webkit-transform: rotate(-340deg); }
}
@keyframes satellitize {
    0% { transform: rotate(340deg); -webkit-transform: rotate(340deg); }
    100% { transform: rotate(-340deg); -webkit-transform: rotate(-340deg); }
}
.location-bg {
    margin: -90px 0 0 -25px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    outline: 1px solid transparent;
    z-index: -1;
    overflow: hidden;
    width: 280px;
    height: 128px;
    float: left;
    background: rgb(200, 200, 200);
}
.none {
    display: hidden;
}
#location-name, #location-courts, .location-route, .location-ownership , #location-distance {
    font-size: 1.250em;
    color: rgb(255, 255, 255);
    display: block;
    padding: 14px;
    text-align: left;
    padding: 12px 0 1px 12px;
    z-index: 1;
    position: relative;
    text-transform: capitalize;
}
#location-name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.location-route {
    height: 32px;
    width: 36px;
    cursor: pointer;
    float: right;
    z-index: 99;
    right: 9px;
}
.location-route:hover {
    background: none;   
}
#location-courts, .location-ownership, #location-distance {
    font-size: 1em;
    padding: 4px 0 1px 12px;
}
#location-courts, #location-distance {
    display: inline;
    float: left;
}
#location-distance {
    padding-left: 0;
}
#like-system {
    cursor: pointer;
    float: left;
    width: 65px;
    height: 22px;
}
.like-label, #like-number {
    text-align: left;
    float: left;
    padding: 6px 0 0 12px;
}
#like-number {
    font-size: 0.813em;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.press {
    -webkit-animation: likefx 0.3s;
    animation: likefx 0.3s;
}
.networks-sm, .networks-lg {
    float: right;
    position: relative;
    right: 11px;
    top: 0;
    width: 70px;
}
.networks-lg {
    right: 7px;
    width: 50px;
}
.tw, .fb, .sms {
    cursor: pointer;
    background: url('../img/ui/networks.png') no-repeat;
    width: 20px;
    height: 20px;
    background-size: 40px 60px;
    background-position: -20px 0;
    display: block;
    float: left;
    margin: 0 4px 0 0;
    opacity: 0.65;
}
.tw:hover {
    background-position: 0 0;
    opacity: 1;
}
.fb {
    background-position: -20px -20px;
}
.fb:hover {
    background-position: 0 -20px;
    opacity: 1;
}
.sms {
    background-position: -20px -40px;
    margin: 0;   
}
.sms:hover {
    background-position: 0 -40px;
    opacity: 1;
}
@-webkit-keyframes likefx {
    0% { transform: scale(1.1); -webkit-transform: scale(1.1); opacity: 1; }
    100% { transform: scale(2.5); -webkit-transform: scale(2.5); opacity: 0; }
}
@keyframes likefx {
    0% { transform: scale(1.1); -webkit-transform: scale(1.1); opacity: 1; }
    100% { transform: scale(2.5); -webkit-transform: scale(2.5); opacity: 0; }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 42em) {
    .sportsity {
        width: 45px;
        background: rgb(0, 171, 56) url('../img/ui/sportsity-logo-sm.png') no-repeat center;
        background-size: 37px 37px;
    }
    .zoom-buttons {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}

/* ANIMATE CSS — http://daneden.me/animate */

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
            transform: none;
    }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
}
@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}